{% extends "base.html" %}

{% block content %}

<div class="container py-3">

  <div class="mx-auto" style="max-width: 600px;">

    <p class="text-center">Last updated: {{ generated_at }}</p>

    <section aria-labelledby="in-season-dropdowns">
      <!-- Dropdowns -->
      {% include "_in-season-dropdowns.html" %}
    </section>

    <section aria-labelledby="standings">
      <!-- Standings -->
      {% include "_standings.html" %}
    </section>

    <section aria-labelledby="standings">
      <!-- League Leaders -->
      {% include "_league-leaders.html" %}
    </section>

    <section aria-labelledby="team-details">
      <!-- Team Details -->
      {% include "_team-details-section.html" %}
    </section>

  </div>

</div>

<!-- Smooth scroll JavaScript -->
<script>
function scrollToSection(sectionId) {
  if (sectionId) {
    const el = document.getElementById(sectionId);
    if (el) {
      el.scrollIntoView({ behavior: 'smooth' });
    }
  }
}
</script>

{% endblock %}