<div class="team-block">
    <a id="{{ season }}_{{ team.owner_id }}"></a>
    
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th colspan="8">{{ team.nickname }} - {{ team.team_name }}</th>
        </tr>
        <tr>
          <th colspan="8">{{ team.season }}: {{ place }} place</th>
        </tr>
        <tr>
          <th>POS</th>
          <th>Name</th>
          <th class="text-center">Team</th>
          <th class="text-center">Salary</th>
          <th class="text-center">Pts</th>
          <th class="text-center">Yday</th>
          <th class="text-center">Rec</th>
          <th class="text-center">Val</th>
        </tr>
      </thead>
      <tbody>
        {# Active Players #}
        {% for player_id, player in active_players.items() %}
        <tr>
          <td>{{ player.pos }}</td>
          <td><a href="/players/{{ player_id }}">{{ player.player_display_name }}</a></td>
          <td class="text-center">{{ player.team }}</td>
          <td class="player_row_cell_rt text-right">${{ player.salary }}</td>
          <td class="player_row_cell_rt text-right">{{ player.points }}</td>
          <td class="player_row_cell_rt text-right">{{ player.yesterday }}</td>
          <td class="player_row_cell_rt text-right">{{ player.recent }}</td>
          <td class="player_row_cell_rt text-right">{{ player.val }}</td>
        </tr>
        {% endfor %}
        
        {# Benched Players (if any) #}
        {% if benched_players %}
        <tr>
          <td colspan="8" class="text-center">Benched players</td>
        </tr>
        {% for player_id, player in benched_players.items() %}
        <tr>
          <td>{{ player.pos }}</td>
          <td><a href="/players/{{ player_id }}">{{ player.player_display_name }}</a></td>
          <td class="text-center">{{ player.team }}</td>
          <td class="player_row_cell_rt text-right">${{ player.salary }}</td>
          <td class="player_row_cell_rt text-right">{{ player.points }}</td>
          <td class="player_row_cell_rt text-right">{{ player.yday }}</td>
          <td class="player_row_cell_rt text-right">{{ player.rec }}</td>
          <td class="player_row_cell_rt text-right">{{ player.val }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        
        {# Totals Row #}
        <tr>
          <td colspan="3" class="text-right">bank: ${{ team.bank_current }}</td>
          <td class="text-right"><strong>${{ team.salary_current }}</strong></td>
          <td class="text-right"><strong>{{ team.total_points }}</strong></td>
          <td class="text-right"><strong>{{ team.total_yday }}</strong></td>
          <td class="text-right"><strong>{{ team.total_rec }}</strong></td>
          <td class="text-right"><a href="#top">top</a></td>
        </tr>
      </tbody>
    </table>
</div>